[project]
	description = Spring Web App
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Khush1980
[access "refs/for/refs/*"]
	read = group user/Khush1980
	push = group user/Khush1980
	label-Code-Review = -2..+2 group user/Khush1980
	label-Verified = -1..+1 group user/Khush1980
	rebase = group user/Khush1980
	removeReviewer = group user/Khush1980
	submit = group user/Khush1980
[access "refs/heads/*"]
	read = group user/Khush1980
	create = group user/Khush1980
	push = +force group user/Khush1980
	pushMerge = group user/Khush1980
[access "refs/tags/*"]
	push = group user/Khush1980
	push = +force group user/Khush1980
